<!DOCTYPE HTML>
<html lang="ru">
    <head>
        <meta charset="UTF-8"/>
        <title>Монитор ресурсов</title>
        <meta http-equiv="refresh" content="5"/>
		<meta name="description" content="Монитор ресурсов"/>
        <link rel="icon" href="/images/favicon.png" type="image/png"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        {% if not clear %}
            <script type="text/javascript" src="/js/ponycfg.js"></script>
            <link rel="stylesheet" type="text/css" href="/css/admin.css"/>
            <script type="text/javascript" src="/js/browserponies.js"></script>
        {% endif %}
        {% if clear %}
            <style>
                body {
                    margin: 0;
                }

                textarea {
                    width: 99%;
                    border: 0;
                }
            </style>
        {% endif %}
    </head>
    <body>
        <div id="background"></div>
        <label>
            <textarea rows="{{ monitor_rows }}" readonly="">{{ monitor_str }}</textarea>
        </label>
        {% if not clear %}
            <script>
                BrowserPonies.start();
            </script>
        {% endif %}
    </body>
</html>
