<!DOCTYPE HTML>
<html lang="ru">
    <head>
        <meta charset="UTF-8"/>
        <title>Сборка файла</title>
        <script type="text/javascript" src="/js/form.js"></script>
        <link rel="stylesheet" type="text/css" href="/css/style.css"/>
        <link rel="icon" type="image/png" href="/images/favicon.png"/>
        <script type="text/javascript" src="/js/downloader.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
    </head>
    <body>
        <form action="{{ domen }}/{{ name }}" method="get">
            <div class="form_header">
                <img tooltip="tooltip_1" width="20" height="20" src="/images/info.png" alt=""/>
                <div id="tooltip_1" class="tooltip" data-tooltip=""></div>
                <b> Файл:</b>
                <label class="radio">
                    <input name="format" type="radio" value="mkv"/> .mkv
                </label>
                <label class="radio">
                    <input name="format" type="radio" value="mp4"/> .mp4
                </label>
            </div>
            <div class="form_body">
                {% if videos %}
                    <div class="form_body_item">
                        <div class="form_body_item_title">
                            <img tooltip="tooltip_2" width="20" height="20" src="/images/info.png" alt=""/>
                            <div id="tooltip_2" class="tooltip" data-tooltip=""></div>
                            <b> Качество:</b>
                        </div>
                        <label class="radio">
                            <input name="quality" type="radio" value="none"/> Без видео
                        </label>
                        {% for video in videos %}
                            <label class="radio">
                                <input name="quality" type="radio" value="{{ video }}"/> {{ video }}p
                            </label>
                        {% endfor %}
                    </div>
                {% endif %}
                {% if dubs %}
                    <div class="form_body_item">
                        <div class="form_body_item_title">
                            <img tooltip="tooltip_3" width="20" height="20" src="/images/info.png" alt=""/>
                            <div id="tooltip_3" class="tooltip" data-tooltip=""></div>
                            <b> Озвучки:</b>
                        </div>
                        <label class="checkbox">
                            <input name="voice" type="checkbox" value="none"/> Без озвучек
                        </label>
                        {% if dubs | length > 1 %}
                            <label class="checkbox">
                                <input name="voice" type="checkbox" value="all"/> Все озвучки
                            </label>
                        {% endif %}
                        {% for dub in dubs %}
                            <label class="checkbox">
                                <input name="voice" type="checkbox" value="{{ dub['code'] }}"/> [{{ dub['lang'] }}] {{ dub['name'] }}
                            </label>
                        {% endfor %}
                    </div>
                {% endif %}
                {% if subs %}
                    <div class="form_body_item">
                        <div class="form_body_item_title">
                            <img tooltip="tooltip_4" width="20" height="20" src="/images/info.png" alt=""/>
                            <div id="tooltip_4" class="tooltip" data-tooltip=""></div>
                            <b> Субтитры:</b>
                        </div>
                        <label class="checkbox">
                            <input name="subtitles" type="checkbox" value="none"/> Без субтитров
                        </label>
                        {% if subs | length > 1 %}
                            <label class="checkbox">
                                <input name="subtitles" type="checkbox" value="all"/> Все субтитры
                            </label>
                        {% endif %}
                        {% for sub in subs %}
                            <label class="checkbox">
                                <input name="subtitles" type="checkbox" value="{{ sub['code'] }}"/> [{{ sub['lang'] }}] {{ sub['name'] }}
                            </label>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="form_footer">
                <div class="form_footer_item">
                    {% if captcha %}
                        <img tooltip="tooltip_5" files="{{ captcha['files'] }}" minutes="{{ captcha['minutes'] }}" width="20" height="20" src="/images/info.png" alt="">
                        <div id="tooltip_5" class="tooltip" data-tooltip=""></div>
                        <script type="text/javascript" src="/js/ponyacha.js"></script>
                        <link type="text/css" rel="stylesheet" href="/css/ponyacha.css">
                        <div id="ponyacha">
                            <script>
                                ponyacha_create();
                            </script>
                        </div>
                    {% endif %}
                </div>
                <div class="form_footer_item">
                    <img tooltip="tooltip_6" width="20" height="20" src="/images/info.png" alt=""/>
                    <br><div id="tooltip_6" class="tooltip" data-tooltip=""></div>
                    <input class="submit" name="submit" type="submit" value="Собрать и скачать" disabled=""/>
                </div>
            </div>
        </form>
        <script>
            validate();
            bindEvents();
            form_load();
        </script>
    </body>
</html>
