<!DOCTYPE HTML>
<html lang="ru">
    <head>
        <meta charset="UTF-8"/>
        <title>Сборка файла</title>
        <script type="text/javascript" src="/js/form.js"></script>
        <link rel="stylesheet" type="text/css" href="/css/form.css"/>
        <link rel="icon" type="image/png" href="/images/favicon.png"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" type="text/css" href="https://bronyru.info/_design/style.css"/>
    </head>
    <body id="FramedText" oncontextmenu="return false;">
        <form action="{{ domen }}/{{ name }}" method="post">
            <table>
                <tr>
                    <th>
                        <img width="20" height="20" src="/images/info.png" alt="" onmouseover="document.getElementById('tooltip_1').style.display='block';" onmouseout="document.getElementById('tooltip_1').style.display='none';"/> Файл:
                        <div id="tooltip_1" class="tooltip" data-tooltip="Формат файла в котором он будет сохранен. В файле MP4 недоступны кодеки VP9 и ASS (качество будет не выше чем 1080p и субтитры будут не цветными). В файле MKV никаких ограничений нет."></div>
                    </th>
                </tr>
                <tr>
                    <td>
                        <label class="radio">
                            <input name="format" type="radio" value="mkv"/> .mkv
                        </label><br>
                        <label class="radio">
                            <input name="format" type="radio" value="mp4"/> .mp4
                        </label><br><br>
                    </td>
                </tr>
                <tr>
                    {% if videos %}
                        <th>
                            <img width="20" height="20" src="/images/info.png" alt="" onmouseover="document.getElementById('tooltip_2').style.display='block';" onmouseout="document.getElementById('tooltip_2').style.display='none';"/> Качество:
                            <div id="tooltip_2" class="tooltip" data-tooltip="Разрешение видео, которое будет сохранено в файле. Если вы выбрали формат MP4, то выбрать качество выше 1080 вы не сможете. Одновременно можно выбрать только одно качество. Если выбрать вариант 'Без видео' то выбранные озвучки и/или субтитры будут сохранены в ZIP архиве."></div>
                        </th>
                    {% endif %}
                </tr>
                <tr>
                    {% if videos %}
                        <td>
                            <label class="radio">
                                <input name="quality" type="radio" value="none"/> Без видео
                            </label>
                            <br>
                            {% for video in videos %}
                                <label class="radio">
                                    <input name="quality" type="radio" value="{{ video }}"/> {{ video }}p
                                </label>
                                <br>
                            {% endfor %}
                            <br>
                        </td>
                    {% endif %}
                </tr>
                <tr>
                    {% if dubs %}
                        <th>
                            <img width="20" height="20" src="/images/info.png" alt="" onmouseover="document.getElementById('tooltip_3').style.display='block';" onmouseout="document.getElementById('tooltip_3').style.display='none';"/> Озвучки:
                            <div id="tooltip_3" class="tooltip" data-tooltip="Звуковые дорожки, которые будут сохранены в файле. Выбрать можно любое количество. По умолчанию в итоговом видео будет установлена только первая дорожка. Если выбрать вариант 'Без озвучек' то видео будет абсолютно без звука."></div>
                        </th>
                    {% endif %}
                </tr>
                <tr>
                    {% if dubs %}
                        <td>
                            <label class="checkbox">
                                <input name="voice" type="checkbox" value="none"/> Без озвучек
                            </label>
                            <br>
                            {% if dubs | length > 1 %}
                                <label class="checkbox">
                                    <input name="voice" type="checkbox" value="all"/> Все озвучки
                                </label>
                                <br>
                            {% endif %}
                            {% for dub in dubs %}
                                <label class="checkbox">
                                    <input name="voice" type="checkbox" value="{{ dub['code'] }}"/> [{{ dub['lang'] }}] {{ dub['name'] }}
                                </label>
                                <br>
                            {% endfor %}
                            <br>
                        </td>
                    {% endif %}
                </tr>
                <tr>
                    {% if subs %}
                        <th>
                            <img width="20" height="20" src="/images/info.png" alt="" onmouseover="document.getElementById('tooltip_4').style.display='block';" onmouseout="document.getElementById('tooltip_4').style.display='none';"/> Субтитры:
                            <div id="tooltip_4" class="tooltip" data-tooltip="Субтитры (если такие имеются в этом эпизоде), которые будут сохранены в файле. Выбрать можно любое количество. По умолчанию все субтитры отключены в итоговом видео, их нужно включать в ручную. Если выбрать вариант 'Без субтитров' то в видео не будет никаких субтитров."></div>
                        </th>
                    {% endif %}
                </tr>
                <tr>
                    {% if subs %}
                        <td>
                            <label class="checkbox">
                                <input name="subtitles" type="checkbox" value="none"/> Без субтитров
                            </label><br>
                            {% if subs | length > 1 %}
                                <label class="checkbox">
                                    <input name="subtitles" type="checkbox" value="all"/> Все субтитры
                                </label>
                                <br>
                            {% endif %}
                            {% for sub in subs %}
                                <label class="checkbox">
                                    <input name="subtitles" type="checkbox" value="{{ sub['code'] }}"/> [{{ sub['lang'] }}] {{ sub['name'] }}
                                </label>
                                <br>
                            {% endfor %}
                            <br>
                        </td>
                    {% endif %}
                </tr>
                <tr>
                    <td>
                        {% if captcha %}
                            <img width="20" height="20" src="/images/info.png" onmouseover="document.getElementById('tooltip_6').style.display='block';" onmouseout="document.getElementById('tooltip_6').style.display='none';" alt="">
                            <div id="tooltip_6" class="tooltip" data-tooltip="Для сборки файла обязательно нужно пройти каптчу. Каптча появляется если вы собрали больше {{ captcha['files'] }} файлов за {{ captcha['minutes'] }} минут."></div>
                            <script type="text/javascript" src="/js/ponyacha.js"></script>
                            <link type="text/css" rel="stylesheet" href="/css/ponyacha.css">
                            <div id="ponyacha">
                                <script>
                                    ponyacha_create();
                                </script>
                            </div><br>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>
                        <img width="20" height="20" src="/images/info.png" alt="" onmouseover="document.getElementById('tooltip_5').style.display='block';" onmouseout="document.getElementById('tooltip_5').style.display='none';"/>
                        <br><div id="tooltip_5" class="tooltip" data-tooltip="Для сборки файла обязательно нужно выбрать формат файла, и хотя бы один пункт в каждой категории. Если в категории нет нужных вам пунктов, выберите вариант 'Без ...'. Выбрать варианты 'Без ...' во всех категориях сразу тоже нельзя."></div>
                        <input class="submit" name="submit" type="submit" value="Собрать и скачать" disabled=""/>
                        <script>
                            validate();
                            bindEvents();
                        </script>
                    </td>
                </tr>
            </table>
        </form>
        <br><br><br>
    </body>
</html>
