@font-face {
    font-family: celestia;
    src: url("/fonts/celestia.eot") format("eot");
    src: url("/fonts/celestia.otf") format("otf");
    src: url("/fonts/celestia.svg") format("svg");
    src: url("/fonts/celestia.ttf") format("truetype");
    src: url("/fonts/celestia.woff") format("woff");
    font-weight: 100;
    font-style: normal;
}

body {
    font-family: celestia, serif;
    font-size: 25px;
    color: #67c1f5;
    background-color: #1b2838;
    text-align: center;
}

table {
    margin: auto;
    width: 400px;
}

iframe {
    width: 400px;
    height: 200px;
    border: 0;
    margin-top: 15px;
}

textarea {
    width: 400px;
    margin-top: 15px;
}

select {
    width: 400px;
    margin: 15px 0;
    border: 0;
    padding: 5px 0;
    font-family: celestia, serif;
    font-size: 20px;
    background: #67c1f533;
    text-align: center;
}

input {
    width: 400px;
    margin: 15px 0;
    border: 0;
}

#background {
    background-color: #00000050;
    padding: 5px;
    position: fixed;
    width: 98%;
    height: 97%;
    z-index: -1;
}

.text {
    padding: 5px 0;
    font-family: celestia, serif;
    font-size: 20px;
    background: #67c1f533;
    color: #fff;
    text-align: center;
}

.submit {
    padding: 5px 0;
    font-family: celestia, serif;
    font-size: 20px;
    line-height: 30px;
    color: #67c1f5;
    background: #67c1f533;
}

.submit_50 {
    width: 48%;
    padding: 5px 0;
    font-family: celestia, serif;
    font-size: 20px;
    line-height: 30px;
    color: #67c1f5;
    background: #67c1f533;
}

.alert {
    color: red;
    font-size: 20px;
}
