@font-face {
    font-family: celestia;
    src: local("celestia medium redux"), url("/fonts/celestia.eot") format("eot"), url("/fonts/celestia.otf") format("otf"), url("/fonts/celestia.svg") format("svg"), url("/fonts/celestia.ttf") format("truetype"), url("/fonts/celestia.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@media (max-width: 500px) {
    #settings {
        min-width: -webkit-fill-available;
    }
}

hr {
    border-style: solid;
    border-color: #673ab7;
}

h3 {
    cursor: pointer;
}

.body {
    font-family: celestia, serif;
    font-size: x-large;
    color: #67c1f5;
    background-color: #1b2838;
    text-align: center;
}

.background {
    background-color: #00000050;
    padding: 5px;
}

.login {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#login, #password, .submit {
    width: 350px;
    max-width: calc(100vw - 50px);
    margin: 15px 0;
    border: 0;
    border-radius: 5px;
}

#login, #password {
    padding: 5px 0;
    font-family: celestia, serif;
    font-size: 20px;
    background: #67c1f533;
    color: #fff;
    text-align: center;
}

.submit {
    padding: 5px 0;
    font-family: celestia, serif;
    font-size: 20px;
    line-height: 30px;
    color: #67c1f5;
    background: #67c1f533;
}

#alert {
    color: red;
    font-size: 20px;
}

.footer {
    display: flex;
    font-size: x-large;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding: 5px 10px 0;
    flex-wrap: wrap;
    text-align: left;
}

#token, #restart, #logout {
    cursor: pointer;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.settings_data {
    display: flex;
    flex-wrap: wrap;
    max-width: fit-content;
    flex-direction: column;
    align-items: flex-start;
    white-space: nowrap;
}

.settings_data_item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}

#select {
    width: 250px;
    border: 0;
    border-radius: 5px;
    padding: 5px 0;
    font-family: celestia, serif;
    font-size: 20px;
    background: #67c1f533;
    text-align: center;
}

#form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    padding-top: 15px;
}

#form_value_1, #form_submit_input {
    display: none;
}

#form_value_1_input, #form_submit_input {
    padding: 5px 0;
    font-family: celestia, serif;
    font-size: 20px;
    background: #67c1f533;
    color: #fff;
    text-align: center;
    border: 0;
    border-radius: 5px;
    width: 250px;
    margin: 10px 0;
}

#form_submit_input {
    color: #67c1f5;
	line-height: 30px;
}
